<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div>

	<div id="unibar" class="banner">
		<img id="logo" src="../img/UniLogo.png" />



	</div>
	<div class="content">
		<div class="col-md-2 leftbar">
			<div class="avatar">
				<img class ="headshot" src="../img/headshot.jpg" alt="Avatar Profile" height="175" width="175">

			</div>
		</div>

		<div class="col-md-8 center" class="row">
			<div class="upcoming">
				<h1>Coming Up</h1>
				<div class="homework col-md-6">
					<h2>Homework</h2>
					<div class="homework-item">
						<img src="../img/checkbox" alt="checkbox"/>
						<p class="homework-title">Project Deliverable by <b class="due-date">tomorrow</b></p>
						<p class="class-name">HCDE418</p>
					</div>
					<div class="homework-item">
						<img src="../img/checkbox" alt="checkbox"/>
						<p class="homework-title">Homework #1 by <b class="due-date">October 23rd</b></p>
						<p class="class-name">HCDE411</p>
					</div>
					<div class="homework-item">
						<img src="../img/checkbox" alt="checkbox"/>
						<p class="homework-title">Project Assignment #5 by <b class="due-date">October 23rd</b></p>
						<p class="class-name">INFO498</p>
					</div>
				</div>
				<div class="tests col-md-6">
					<h2>Tests</h2>
					<div class="test-item">
						<p class="test-title">Reading Quiz #5 on <b class="due-date">October 23rd</b></p>
						<p class="class-name">INFO498</p>
					</div>
					<div class="test-item">
						<p class="test-title">Midterm on <b class="due-date">October 25th</b></p>
						<p class="class-name">HCDE411</p>
					</div>
					<div class="test-item">
						<p class="test-title">Midterm on <b class="due-date">November 5th</b></p>
						<p class="class-name">HCDE418</p>
					</div>
				</div>
			</div>
			<div class="discussions">
				<div class="discussion-item">
					<p class="message-title">HCDE411 > Homework Assignment #1</p>
					<img src="../img/photo1" alt="poster name" class="photo"/>
					<p class="message-body">I'm having a problem on question 2. Can anyone explain how you came to the answer?</p>
				</div>
				<div class="discussion-item">
					<p class="message-title">HCDE418 > Project Group</p>
					<img src="../img/photo2" alt="poster name" class="photo"/>
					<p class="message-body">I posted my progress so far on my part of the project. Let me know if you have any questions or need clarification on my work.</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 chatbar">
			<div class="row groupName">
				<h6> Class 1 </h6>
				<p> Name 1, Name 2, Name 3 </p>
			</div>

			<div class="row groupName">
				<h6>Class 2 </h6>
				<p> Name 1, Name 2, Name 3 </p>
			</div>

			<div class="row groupName">
				<h6>Class 3</h6>
				<p>Name 1, Name 2, Name 3</p>
			</div>

			<div class="row" id="projectChat">
				<h5>Class Project Chat</h5>
			</div>

		</div>
	</div>


</div>