<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="css/main.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div>

	<div id="unibar" class="banner">
		<h1 id="Uni-logo">Uni</h1>



	</div>

	<div class="left-bar">
		<div class="avatar">
			<img class ="headshot" src="./img/headshot.jpg" alt="Avatar Profile" height="175" width="175">

		</div>
	</div>

	<div class="chatbar">

	</div>

	<div class="newsfeedbody" class="row">
			<div class="col-md-8">.col-md-8
				wirfhdskhj
			</div>
			<div class="col-md-4">.col-md-4
			kjfndkljnd
			</div>
		<div class="row">
			helllo
		</div>
	</div>

</div>